* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

code {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ffcc21;
  border-radius: 4px;
}
